@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
  section{
    @apply flex flex-col items-center justify-center px-[5%] lg:px-[9%] lg:flex-row
  }
  .navMenu{
    @apply bg-white w-[70%] h-auto absolute top-20 right-4 z-50 lg:top-0 lg:relative lg:bg-transparent lg:w-auto
  }
  .Hmenu{
    @apply cursor-pointer text-xl text-mainColor bg-bg rounded-md py-[7px] px-[12px]  hover:bg-mainColor hover:text-white lg:hidden
  }
  .navList li{
    @apply text-lightColor  hover:text-mainColor w-full h-[40px] hover:bg-bg flex items-center pl-2 rounded-sm lg:text-lg lg:hover:bg-white
  }
  .btn{
    @apply mt-2 px-5 py-[6px]  cursor-pointer text-white bg-mainColor rounded-lg relative z-0 overflow-hidden
  }
  .btn::before{
    @apply content-[''] absolute top-0 right-0 h-full w-0 bg-black -z-10 ease-out duration-200
  }
  .btn:hover::before{
    @apply left-0 w-full
  }
  .boxPortfolio{
    @apply w-full h-[250px] lg:w-80 lg:h-72 border shadow-md rounded-lg overflow-hidden relative
  }
  .boxPortfolio__Content{
    @apply w-full h-full  text-center absolute flex flex-col items-center justify-center top-10 opacity-0 hover:top-0 hover:opacity-100 delay-300
  }
  .boxPortfolio::before{
    @apply h-36 w-36 rounded-full content-['']  absolute -top-14 -right-12 bg-white duration-500 
  }
  .boxPortfolio:hover::before{
    @apply h-[500px] w-[500px] -top-20 -right-16 duration-300
  }
  .cardPricing{
    @apply w-full h-auto border shadow-lg flex flex-col items-center gap-5 rounded-lg py-4
  }
  .formInput{
    @apply w-full border h-10 placeholder:pl-2 text-sm text-black bg-formBox
  }

@tailwind utilities;


*{
    font-family: 'Nunito', sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}
.cloud{
    position: absolute;
    bottom: 0; right: 0; left: 0;
    height: 7rem;
    background-size: 110rem 12rem;
    background:url(assets/clouds.png) repeat-x;
    animation: cloud 10s linear infinite;
}
@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}
.cloud-1{
  opacity: .5;
  height: 10rem;
  background-size:110rem 12rem;
  background:url(assets/clouds.png);
  animation-direction: reverse;
  animation-duration: 15s;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
  }